.infocard {
    width: 40em;
    min-height: 5em;
    border: 1px solid lightgrey;
    border-radius: 1%;
    margin: 0 auto .5em; /*top, right/left, buttom margin 
                            provides space between cards*/
    background-color: rgb(229, 234, 242);

}